@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
  color: var(--color-text-primary);

}
.button{
  height: 50px;
  width: 150px;
  background-color: #4665f3;
  color: #fff;
  font-size: 24px;
  border-radius: 8px;
  transition: 200ms;
}
html, body{
  min-height: 100vh;
}
body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #0d35e600;
}
.container{
  width: 90%;
  margin: 0 auto;
  max-width: 980px;
}
header, footer{
  background-color: #4665f3;
  width: 100%;
  text-align: center;
  color: #f9f9f9;
}
header div.container{
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  align-items: center;
}
header div.container a{
  justify-self: start;
}
header div.container ul{ 
  display: flex;
  flex-direction: column;
  border-left: 1px solid #0d34e6;
}
header div.container ul li:nth-child(1){
  border-bottom: 1px solid #0d34e6;
}
header div.container ul li a{
  display: flex;
  align-self: center;
  margin: 8px auto 8px 16px;
  padding: 8px;
}
header div.container ul li a i{
  margin-right: 8px;
}
section.form form{
  color: black;
  margin: 0px 8px;
  min-height: 75vh;
  background-color: #4666f30c;
  padding: 8px 16px;
}
form .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .button:hover{
  background-color: #0d34e6;
}
section form h1{
  margin: 16px 0px;
  font-size: 28px;
}
.items{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  color: #5873eb;
}
.item{
  width: 250px;
  margin: 4px 12px;
  flex-grow: 1;  
}
.item .form-title{
  font-size: 22px;
  margin-bottom: 8px;
}
.form input{
  border-bottom: 1px solid #0d34e6;;
  background-color: #00000000;
  padding: 4px 8px;
  height: 34px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 16px;
  color: #666;
}
.form input:focus{
  outline: none; 
}
.form .item:nth-child(1),
.form .item:nth-child(6){
  width: 560px;
}
.form .item:last-child input{
  width: 290px;
}

footer{
  margin-top: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}