<header>
  <div class="container">
    <a href="/">
      <div class="logo">
        <h1>Aluga Car</h1>
      </div>
    </a>
    <div></div> 
    <nav class="primary">
      <ul>
        <li>
          <a href="/acounts">
            <i class="material-icons">login</i>
            Minha Conta
          </a>
        </li>
        <li>
          <a href="/user/create">
            <i class="material-icons">add</i>
            Cradastrar
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>